.home-content
  .container
    .pure-g
      .pure-u-1.pure-u-lg-5-12
        .content-zone.content-zone--home
          h2 Заголовок описания
          p
            | Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          p
            | Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный эксперимент проверки новых предложений.
      .pure-u-1.pure-u-lg-7-12
        .home-content__image
          img(src="img/content/infographics.png", alt="")

