-
  var benefits = [
    {
      icon: 'inbox',
      text: `Все задачи ведутся централизованно в единой базе`,
    },
    {
      icon: 'check-mark',
      text: `Легкий и понятный интерфейс, тесная интеграция с текущей Учетной системой`,
    },
    {
      icon: 'confidential',
      text: `Безопасность - открытый код внешних обработок и расширений, возможность подключения по защищенному соединению`,
    },
    {
      icon: 'process',
      text: `Нет ограничений для доработок под собственные требования`,
    },
    {
      icon: 'agreement',
      text: `Нет опасений остаться без поддержки и с закрытым кодом - в лицензионном соглашении присутствует пункт на этот случай`,
    },
    {
      icon: 'creative',
      text: `Автоматическое обновление внешних обработок и расширений при обновлении центральной части`,
    },
    {
      icon: 'seo',
      text: `Простая и в то же время гибкая настройка`,
    },
    {
      icon: 'commerce',
      text: `Масштабируемость - множество контрагентов (с иерархией), иерархическая система прав`,
    },
    {
      icon: 'web',
      text: `Для внешних подключений через web-сервис не требуются дополнительные лицензии на продукт 1С`,
    },
  ];

.benefits
  .container
    h2.title.title--benefits Достоинства
    .benefits-list
      each item, index in benefits
        .benefits-item
          .benefits-item__icon
            span(class="icon icon-" + item.icon)
          .benefits-item__text= item.text
