.hero
  .container-lg
    .hero-carousel__wrapper
      .hero-carousel.js-hero-carousel
        .hero-carousel__item
          .container
            .hero-carousel__inner
              .hero-carousel__body
                h2.hero-carousel__title Заголовок первого баннера
                h3.hero-carousel__subtitle Подзаголовок уникального предложения
                p
                  | Равным образом сложившаяся структура организации требуют от нас анализа систем массового участия. Развитие различных форм деятельности играет важную роль в формировании направлений прогрессивного развития.
              .hero-carousel__img
                img(src="img/carousels/hero/scheme.png", alt="")
        .hero-carousel__item
          .container
            .hero-carousel__inner
              .hero-carousel__body
                h2.hero-carousel__title Заголовок первого баннера
                h3.hero-carousel__subtitle Подзаголовок уникального предложения
                p
                  | Равным образом сложившаяся структура организации требуют от нас анализа систем массового участия. Развитие различных форм деятельности играет важную роль в формировании направлений прогрессивного развития.
              .hero-carousel__img
                img(src="img/carousels/hero/scheme.png", alt="")
      
      
      .hero-carousel__nav.js-hero-carousel-nav
        button.hero-carousel__prev(aria-label="Предыдущий слайд")
          span.icon.icon-arrow-left
        button.hero-carousel__next(aria-label="Следующий слайд")
          span.icon.icon-arrow-right