/* ==========================================================================
   #FONTS
   ========================================================================== */

@font-face {
  font-family: 'Museo Sans';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl-900.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

