/* ==========================================================================
   #BASIC TYPOGRAPHY
   ========================================================================== */

html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
button,
input,
textarea,
select,
.pure-g [class *= "pure-u"] {
  font-family: $primary-font;
}

body {
  font-size: rem(15);
  line-height: 1.333;
  font-weight: 300;
  color: $primary-color;
}
