/* ==========================================================================
   #ICON
   ========================================================================== */

.icon {
  display: block;
  background-image: url(../img/sprites/sprite.png);
  background-repeat: no-repeat;
}

.icon-agreement {
  width: 38px;
  height: 38px;
  background-position: -51px -79px;
}

.icon-arrow-left {
  width: 7px;
  height: 13px;
  background-position: -142px -99px;
}

.icon-arrow-right {
  width: 7px;
  height: 13px;
  background-position: -208px -4px;
}

.icon-check-mark {
  width: 35px;
  height: 35px;
  background-position: -4px -126px;
}

.icon-check-mark-o {
  width: 17px;
  height: 11px;
  background-position: -4px -169px;
}

.icon-commerce {
  width: 37px;
  height: 37px;
  background-position: -97px -79px;
}

.icon-confidential {
  width: 33px;
  height: 33px;
  background-position: -90px -126px;
}

.icon-creative {
  width: 39px;
  height: 39px;
  background-position: -4px -79px;
}

.icon-cross {
  position: relative;
  width: 14px;
  height: 14px;
  background-image: none;
  // background-position: -186px -93px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    border-top: 2px solid #000;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.icon-email {
  width: 15px;
  height: 11px;
  background-position: -29px -169px;
}

.icon-file {
  width: 49px;
  height: 50px;
  background-position: -106px -4px;
}

.icon-inbox {
  width: 37px;
  height: 29px;
  background-position: -131px -126px;
}

.icon-play {
  width: 94px;
  height: 67px;
  background-position: -4px -4px;
}

.icon-process {
  width: 37px;
  height: 37px;
  background-position: -163px -4px;
}

.icon-refresh {
  width: 15px;
  height: 15px;
  background-position: -163px -93px;
}

.icon-seo {
  width: 35px;
  height: 35px;
  background-position: -47px -126px;
}

.icon-settings {
  width: 15px;
  height: 15px;
  background-position: -176px -126px;
}

.icon-skype {
  width: 12px;
  height: 12px;
  background-position: -142px -79px;
}

.icon-web {
  width: 36px;
  height: 36px;
  background-position: -163px -49px;
}
