.mobile-nav.is-hidden
  .mobile-nav__overlay
  .mobile-nav__content
    .side-menu
      .side-menu__body
        .side-menu__module
          ul.menu.menu--mobile
            li.menu__item
              a.menu__link(href="index.html") Главная
            li.menu__item
              a.menu__link(href="desc.html") Описание
            li.menu__item
              a.menu__link(href="#") Интеграция
              ul.sub-menu
                li.sub-menu__item
                  a.sub-menu__link(href="#") Битрикс 24
                li.sub-menu__item
                  a.sub-menu__link(href="#") Trello
            li.menu__item
              a.menu__link(href="files.html") Скачать
            li.menu__item
              a.menu__link(href="products.html") Купить
            li.menu__item
              a.menu__link(href="contacts.html") Контакты

        .side-menu__module
          ul.header-info.header-info--mobile
            li.header-info__item
              a.header-info__link(href="tel:88009007090") 8 (800) 900-70-90
            li.header-info__item
              a.header-info__link(href="mailto:support@tickets.com.ru")
                | <span class="icon icon-email"></span> support@tickets.com.ru
            li.header-info__item
              a.header-info__link(href="")
                | <span class="icon icon-skype"></span> @testname




