/* ==========================================================================
   #VIDEO-LIST
   ========================================================================== */

.video-list {
  display: flex;
  flex-wrap: wrap;
}


.video-list__content {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}


.video-list__content:before {
  content: '';
  float: left;
  padding-top: 63.78%;
}


.video-list__content:after {
  content: '';
  display: block;
  clear: both;
}


.video-list__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.video-list__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}


.video-list__caption {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding-left: 32px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}


.video-list__title {
  text-overflow: ellipsis;
}


.video-list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }

  .icon {
    opacity: .8;
    transition: opacity $ease-main;
  }
}


.video-list__btn:hover .icon {
  opacity: 1;
}


.video-list--desc {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;
}


.video-list--desc .video-list__item {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  

  @media (min-width: 36em) {
    width: 50%;
  }
}

