footer.footer
  .container
    .footer__inner
      ul.footer-actions
        li.footer-actions__item
          a.link-dashed(href="#") Условия использования
        li.footer-actions__item
          a.link-dashed(href="#") Лицензионное соглашение
