// Colors
$darkest: #000;
$darker: #111;
$dark: #222;
$lighter: #999;
$light: #646464;


$primary-color: #333;
$brand: #ffdd9a;
$highlight: #b54940;
$border-color: #959595;


// Fonts
$primary-font: 'Museo Sans', sans-serif;


// Sizes for fluid typography
$min_width: 320px;
$max_width: 1600px;


$ease-main: .2s ease;
